@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4 m-4">Welcome to Kanban-Meta</h1>
    <p><b>This is a school assignement made in about a week by:</b></p>
    <ul>
        <li style="list-style: none;">Adam Björk</li>
        <li style="list-style: none;">Kristofer Buvlér</li>
        <li style="list-style: none;">Filip Jinstrand</li>
        <li style="list-style: none;">Jonatan Larios Schultz</li>
        <li style="list-style: none;">Erik Skinnari</li>
    </ul>
    <p>The task was first to plan, and later start to develop a kanban tool with .NET Core Razor pages.</p>
    <br />
    <p>There is no way to register, but to test the site, log in with "test@test.com" and "test".</p>

</div>
